name: Build and push Docker images

on:
  workflow_call:
    inputs:
      branch:
        required: false
        type: string
        default: main
      docker_repo:
        required: true
        type: string
      service:
        required: true
        type: string
      image_tag:
        required: false
        default: latest
        type: string
      username:
        required: true
        type: string
      environment:
        type: string
        default: "production"
    secrets:
      password:
        required: true

jobs:
  build-and-push:
    name: Build a Docker image and push it to Docker Hub
    runs-on: ubuntu-latest
    env:
      DOCKER_REPO: ${{ inputs.docker_repo }}
      IMAGE_TAG: ${{ inputs.image_tag }}
      GITHUB_SHA: ${{ github.sha }}
      SERVICE: ${{ inputs.service }}
      ENV: ${{ inputs.environment }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.BRANCH }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ inputs.username }}
          password: ${{ secrets.password }}

      - name: Build Docker image
        run: |
          cd $SERVICE
          docker build -t $DOCKER_REPO:$SERVICE-$ENV-$GITHUB_SHA .
          docker tag $DOCKER_REPO:$SERVICE-$ENV-$GITHUB_SHA $DOCKER_REPO:$SERVICE-$ENV-$IMAGE_TAG

      - name: Push Docker image
        run: |
          docker push $DOCKER_REPO:$SERVICE-$ENV-$GITHUB_SHA
          docker push $DOCKER_REPO:$SERVICE-$ENV-$IMAGE_TAG
