on:
  workflow_call:
    inputs:
      docker_repo:
        required: true
        type: string
      image_tag:
        required: false
        default: latest
        type: string
      service:
        required: false
        default: auth
        type: string
    secrets:
      SERVER_IP:
        required: true
      SSH_PRIVATE_KEY:
        required: true
      DB_USERNAME:
        required: true
      DB_PASSWORD:
        required: true
      DATABASE_HOST:
        required: true
      DATABASE_PORT:
        required: true
      DATABASE_NAME:
        required: true
      JWT_REFRESH_TOKEN_EXPIRATION_MS:
        required: true
      JWT_ACCESS_TOKEN_EXPIRATION_MS:
        required: true
      JWT_PUBLIC_KEY:
        required: true
      JWT_PRIVATE_KEY:
        required: true

jobs:
  deploy:
    name: Pull Docker image on the app server and run it
    runs-on: ubuntu-latest
    env:
      PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      SERVER_IP: ${{ secrets.SERVER_IP }}
      DOCKER_REPO: ${{ inputs.docker_repo }}
      IMAGE_TAG: ${{ inputs.image_tag }}
      SERVICE: ${{ inputs.service }}
    steps:
      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "$PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H $SERVER_IP >> ~/.ssh/known_hosts

      - name: Pull and run Docker on server
        env:
          DATABASE_USER: ${{ secrets.DB_USERNAME }}
          DATABASE_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
          DATABASE_PORT: ${{ secrets.DATABASE_PORT }}
          DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
          JWT_REFRESH_TOKEN_EXPIRATION_MS: ${{ secrets.JWT_REFRESH_TOKEN_EXPIRATION_MS }}
          JWT_ACCESS_TOKEN_EXPIRATION_MS: ${{ secrets.JWT_ACCESS_TOKEN_EXPIRATION_MS }}
          JWT_PUBLIC_KEY: ${{ secrets.JWT_PUBLIC_KEY }}
          JWT_PRIVATE_KEY: ${{ secrets.JWT_PRIVATE_KEY }}
        run: |
          ssh itayo@$SERVER_IP <<EOF
            sudo docker pull $DOCKER_REPO:$SERVICE-$IMAGE_TAG
            sudo docker stop freed-$SERVICE >/dev/null 2>&1 || true
            sudo docker rm freed-$SERVICE >/dev/null 2>&1 || true
            sudo docker run -d --name freed-$SERVICE -p 3002:3002 \
              -e DATABASE_HOST="${DATABASE_HOST}" \
              -e DATABASE_PORT="${DATABASE_PORT}" \
              -e DATABASE_NAME="${DATABASE_NAME}" \
              -e DATABASE_USER="${DATABASE_USER}" \
              -e DATABASE_PASSWORD="${DATABASE_PASSWORD}" \
              -e PRIVATE_KEY="${JWT_PRIVATE_KEY}" \
              -e PUBLIC_KEY="${JWT_PUBLIC_KEY}" \
              -e JWT_REFRESH_TOKEN_EXPIRATION_MS="${JWT_REFRESH_TOKEN_EXPIRATION_MS}" \
              -e JWT_ACCESS_TOKEN_EXPIRATION_MS="${JWT_ACCESS_TOKEN_EXPIRATION_MS}" \
              $DOCKER_REPO:$SERVICE-$IMAGE_TAG
          EOF
